/*custom style*/
@import "https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,700|PT+Sans:400,400i|Open+Sans";

html {
	overflow-x: hidden
}

body {
	font-size: 16px;
	line-height: normal;
	font-weight: 400;
	position: relative;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400
}

* {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

.container{
	/* width:100%; */
	margin:0 auto;
}

img {
	max-width: 100%;
}

h1{
	
}

h2{
	
}

h3{
	
}

h4{
	
}

h5{
	
}

h6{
	
}

p{
	
}

ul li{
	
}

ol li{
	
}

p strong{

}

a {
	text-decoration: none;
}
a, a:hover {
	text-decoration: none;
}
*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}




/*
* Uses Font Awesome and Bootstrap 3
* Both aren't required for this demo
*/
#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;  
  min-height: 100vh;
  height: auto;
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
   
  padding: 5% 0; /* Temp: Just spacing. */
}

#site-menu a.toggle-nav {
    color: #ffffff;
    font-size: 18px;
}
a.toggle-nav {
    color: #ffffff;
    font-size: 30px;
}

.show-nav #site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -304px;
  background: #ffffff;
  height: 100vh;
      box-shadow: 2px 0px 3px rgba(191, 191, 191, 0.34);
  /* padding: 15px; */
}
#site-menu ul li {
    list-style-type: none;
    color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}
#site-menu ul li a img {
    width: 30px;
    margin-right: 13px;
}

#site-menu ul li a {
    color: #062d49;
    font-size: 15px;
    line-height: 60px;
    margin-left: 15px;
    display: block;
    font-weight: 500;
}

#site-menu  .nav-footer ul li {
    display: inline-block;
    line-height: 0;
    padding: 0;
	border: none;
}
#site-menu .nav-footer ul li a {
    line-height: normal;
    margin: 0;
}
#site-menu .nav-footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    /* width: 300px; */
    margin: 0 auto;
    width: 60%;
}
#site-menu ul {
    margin: 0;
}
#site-menu .nav-footer ul li a img{margin-right:0;}
.nav-logo{
	background: #062d49;
    border-radius: 0 0 80px 0;
    padding: 30px 0 30px 0
}

.nav-logo .logo {
    margin: 0 auto;
    display: block;
}

/* Just styles... Not relevant to demo */
body {
  /* box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
  /* background-color: #333; */
  color: #062d49;
}
#nav-toggle {
    display: block;
    margin: 0 15px;
}
.header {
    text-align: center;
    background: #062d49;
	color:#ffffff;
    margin-top: -5%;
    padding: 15px 0;
    border-radius: 0 0 80px 0;
}
.header .fa-bell-o {
    font-size: 22px;
	color: #ffffff;
}


/* ON/OFF Switch */
.onoffswitch {
  position: relative;
  width: 75px;
  display: inline-block;
  font-size: 80%;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 90%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}
.onoffswitch .onoffswitch-inner:before, .onoffswitch .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 33px;
    font-size: 100%;
    color: hsl(0, 0%, 100%);
    font-weight: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 800;
}
.onoffswitch .onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #ac1c13;
  color: hsl(0, 0%, 100%);
}
.onoffswitch .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 24%);
  text-align: right;
}
.onoffswitch .onoffswitch-switch {
  width: 22px;
  height: 22px;
  margin: 0;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 35px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
.toggle-group {
    position: relative;
    height: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 50%;
    left: 20px;
    margin-top: -16px;
}
.toggle-group input[type=checkbox] {
  position: absolute;
  left: 10px;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
  right: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
  outline: thin dotted #333;
  outline: 0;
}
#site-menu .toggle-group label {
    background: none;
    height: 30px;
    padding-left: 0;
    margin: 22px 0 0 0;
}
#site-menu .nav-footer li a img {
    width: 40px;
}
.toggle-group label {
  position: absolute;
  cursor: pointer;
  padding-left: 65px;
  display: inline-block;
  text-align: left;
  line-height: 24px;
  width: 100%;
  z-index: 1;
  height: 24px;
  font-weight: 200;
}
/* ==== Accessibility ===== */
.aural {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.aural:focus {
  clip: rect(0, 0, 0, 0);
  font-size: 1em;
  height: auto;
  outline: thin dotted;
  position: static !important;
  width: auto;
  overflow: visible;
}

.nav-footer {
    position: fixed;
}

#site-menu .nav-footer {
    background: #062d49;
    display: block;
    position: initial;
    padding: 20px 0 20px 0;
}


/* login form */


/*div.wrap {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}*/

.signin div.wrap div {
  position: relative;
  margin: 40px 0;
}

.signin label {
    position: absolute;
    top: 0;
    font-size: 20px;
    margin: 14px;
    padding: 0 10px;
    background-color: #ffffff;
    -webkit-transition: top .2s ease-in-out, 
 font-size .2s ease-in-out;
    transition: top .2s ease-in-out, 
 font-size .2s ease-in-out;
    color: #797979;
    opacity: 1;
}

.signin .active {
    top: -25px;
    font-size: 18px;
}

.signin input[type=text], .signin input[type=password], .signin input[type=textarea] {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #cccccc;
    font-size: 26px;
    background-color: white;
    color: #000000;
    border-radius: 7px;
    /* line-height: normal; */
}

.signin input[type=text]:focus, .signin input[type=password]:focus, .signin input[type=textarea]:focus {
  outline: none;
}
.forgot-pwd {
    /* text-decoration: underline; */
    font-size: 19px;
    color: #062d49;
}
a.forgot-pwd:after {
    content: '';
    background: #062d49;
    height: 1px;
    display: block;
    width: 50%;
    margin: 5px 0 0 0;
}
button.btn.btn-primary.sign {
    width: 100%;
    font-size: 23px;
    padding: 10px;
}
header.center {
    text-align: center;
    padding: 15px 0;
    color: #062d49;
}
.signin{
	background: #062d49;
}
.signin .container-fluid{
	background: #ffffff;
    border-radius: 0 0 80px 0;
    padding-bottom: 0;
}
.product-list li {
    list-style-type: none;
    border-bottom: 1px solid #cccccc;
    padding: 20px 10px;
}
.product-list li .product-icon , .product-list li h4 {
    display: inline-block;
}
.product-list {
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-top: 40px;
    border-top-color: #ac1c13;
    border-top: 3px solid #ac1c13;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.product-list .product-icon {
    background: #f5f6f8;
    border-radius: 50%;
	width: 110px;
}
.product-list li h4 {
    width: 50%;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 20px;
}
.product-list li h4 span {
    text-transform: uppercase;
    font-size: 16px;
    color: #b5b0b0;
    display: block;
}
.my-order {
    box-shadow: 0 0px 4px #cccccc;
    border-radius: 5px;
    padding: 10px 0 20px 0;
	margin: 15px 0;
    background: #ffffff;
}
.order-inner p {text-align:center;}
.order-inner p span {
    margin-left: 10px;
}
.order-inner p .fa {
    font-size: 24px;
    margin-right: 4px;
}
.order-inner {
    background: #094164;
    padding: 40px 20px 60px 20px;
    display: block;
    height: auto;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url(../images/bg.png);
    background-repeat-y: no-repeat;
}
.my-order .btn-outline-danger {
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    font-weight: 500;
}
.delete {
    font-size: 23px;
    background: #ffffff;
    color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 10px 0;
}

.orders {
    margin-top: 40px;
}

.btn.back {
    background: #022e48;
    color: #ffffff;
    padding: 12px;
}
.col-xs-4 {
    width: 40%;
}
.col-xs-8 {
    width: 60%;
}
.order-quantity {
    /* background: #f5f5f5; */
    padding: 15px 15px;
    margin-bottom: 10px;
    border-bottom: 5px solid #f5f5f5;
}
input[type=checkbox]{
  display: none;
}

input[type=checkbox] + label {
    font-family: 'fontawesome', arial, sans-serif;
    font-size: 34px;
    cursor: pointer;
    text-align: center;
}

input[type=checkbox] + label:before {
    display: inline-block;
    font-size: 44px;
    width: 49px;
    /* vertical-align: -5%; */
    color: #26d27c;
    content: '\f096';
}
input[type=checkbox]:checked + label:before {
  display: inline-block;
  font-size: 1.2em;
  width: 1.2em;
  vertical-align: -5%;
  color: #26d27c;
  content: '\f14a';
}
.chekit h5, .chekit label , .edit-quantity button, .edit-quantity input{
    display: inline-block;
    vertical-align: middle;
}
.edit-quantity {
    position: relative;
	padding: 5px 0 0 0;
}
.chekit h5 {
    line-height: 41px;
}
.chekit {
    padding: 10px 0 0 0;
}
.edit-quantity input {
    display: inline-block;
    width: 38px !important;
    height: 38px !important;
    padding: 2px;
    font-size: 19px;
    text-align: center;
    /* float: right; */
    right: 15px;
    position: absolute;
	color: #000000;
    font-weight: 900;
}
.order-gas-quant .edit-quantity input {
    width: 58px !important;
}
.chekit label {
	float: right;
    margin-right: 9px;
}

.profile input, .profile select, .profile textarea, .profile password {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 0;
    font-size: 21px;
    /* margin-top: 10px; */
}
.profile label {
    color: #cccccc;
}


/* select.round {
    background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%),
	linear-gradient(135deg, #ffffff 50%, transparent 50%),
	radial-gradient(#26d37c 70%, transparent 72%);
    background-position: calc(100% - 18px) calc(1em + -7px), calc(100% - 13px) calc(1em + -7px), calc(100% - 3px) 0px;
    background-size: 6px 6px, 6px 6px, 30px 30px;
    background-repeat: no-repeat;
} */
select.round{
    background: url(../images/arrow.png) no-repeat;
    background-position: right;
    background-size: 30px;
}
/*.order-quantity.profile .round{
    background: url(../images/arrow-right.png) no-repeat;
    background-position: right;
    background-size: 30px;
}*/
.order-quantity.profile .round.check-it{
    background: url(../images/arrow-location.png) no-repeat;
    background-position: right;
    background-size: 30px;
}


select.round:focus {

    background: url(../images/arrow.png) no-repeat;
    background-position: right;
    background-size: 30px;
}

/* select.round:focus {
  background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%),
	linear-gradient(135deg, #ffffff 50%, transparent 50%),
	radial-gradient(#26d37c 70%, transparent 72%);
	background-position: calc(100% - 18px) calc(1em + -7px), calc(100% - 13px) calc(1em + -7px), calc(100% - 3px) 0px;
    background-size: 6px 6px, 6px 6px, 30px 30px;
    background-repeat: no-repeat;
  border-color: green;
  outline: 0;
} */
.price{
text-align:right;
}

.price input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-body {
    padding: 30px;
}

.modal-body img {
    position: absolute;
    right: 15px;
    float: right;
    width: 50px;
    margin-top: 40px;
}

.modal-body .badge {
    float: right;
}

.modal-open .modal {
    top: 10%;
}
.order-quantity.select-address {
    padding-right: 12px !important;
}
.order-quantity.select-address h6 {
    margin-top: 12px;
}
.input-group-append span.input-group-text {
    border: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #cccccc;
    color: #26d37c;
    font-size: 24px;
	
}
.order-by-quantity.order-gas-quant .edit-quantity {
    position: initial;
	padding: 0 15px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #26d37c;
    border-radius: 100%;
    background: #ffffff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #26d37c;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



@media(min-width:768px){
.order-by-quantity.order-gas-quant .order-quantity.profile {
    padding: 15px 0;
    border-bottom: 0;
}
.order-by-quantity.order-gas-quant .order-quantity {
    padding: 15px 0;
}
.signin {
    max-width: 480px;
	width: 100%;
    margin: 0 auto;
}
.signin .container-fluid {
    background: #ffffff;
    border-radius: 0 0 0px 0;
    padding-bottom: 0;
    min-height: 100vh;
}
.header {
    padding: 15px 0 10px 0;
    border-radius: 0 0 0px 0;
}

.my-order {
    margin: 15px 15px;
    flex: 0 0 45%;
    max-width: 45%;
    left: .5%;
}

.back {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    display: block;
	padding: 10px;
    font-size: 22px;
}

.product-details {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

.w-100.btn.btn-danger {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 22px;
}

.order-by-quantity .order-quantity {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.back {
    margin-top: 30px;
}

.order-quantity {
    border-bottom: 2px solid #f5f5f5;
}
.profile .orders {
    margin-top: 80px !important;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}
a.forgot-pwd:after {
    width: 37%;
}

}


@media (max-width: 767px){
	.no-padding{
		padding:0;
	}
}


@media (min-width: 991px){
.my-order {
    margin: 15px 15px;
    flex: 0 0 46%;
    max-width: 46%;
    left: .5%;
}

}



/* IE styles here */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
/*.animate {
	-webkit-transform: translateY(0);
	opacity: 1;
	-ms-transform: translateY(10.416vw);
	transform: translateY(0);
	-webkit-transition: opacity 1.5s ease, -webkit-transform 2.5s cubic-bezier(0.19, 1, 0.22, 1);
	transition: opacity 1.5s ease, -webkit-transform 2.5s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: opacity 1.5s ease, transform 2.5s cubic-bezier(0.19, 1, 0.22, 1);
	transition: opacity 1.5s ease, transform 2.5s cubic-bezier(0.19, 1, 0.22, 1);
	transition: opacity 1.5s ease, transform 2.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 2.5s cubic-bezier(0.19, 1, 0.22, 1);
	will-change: opacity, transform;
}*/
	
select::-ms-expand {
	display: none;
}

}




